{{#hideLabel}}
<div class="col-lg-4" style="padding-left:0">
	<div class="btn-group pull-right">
		<div style="margin-left:2px;" class="popoverCancel fa fa-times btn btn-danger" data-name="{{name}}"></div>
		<div style="width: 37px;" class="fa fa-check btn btn-success popoverSave" data-name="{{name}}"></div>
	</div>
</div>
{{/hideLabel}}