<fieldset data-type="fieldset" name="{{name}}" id="{{id}}" class="{{#multiple.duplicate}}dupable" data-min="{{multiple.min}}" data-max="{{multiple.max}}{{/multiple.duplicate}}" >
{{#multiple.duplicate}}
<div class="btn-group parent-hover actions">
	<div class="duplicate add btn btn-default"><i class="fa fa-plus text-success"></i></div><div class="btn btn-default remove"><i class="fa fa-minus text-danger"></i></div>
</div>
{{/multiple.duplicate}}
{{#item.legend}}<legend>{{{item.legend}}}</legend>{{/item.legend}}
{{^item.legend}}
{{#item.label}}<legend>{{{item.label}}}</legend>{{/item.label}}
{{/item.legend}}		
<div style="position:relative;top:-20px">{{>berry__addons}}</div>
</fieldset>