<table id="{{id}}" class="table table-bordered table-striped" style="clear: both">
	<tbody>
		{{#fields}}
		<tr>
			<td width="50%">{{item.label}}</td>
			<td width="50%"><a href="javascript:void(0)" class="popins" name="{{name}}">{{display}}{{^display}}-empty-{{/display}}</a></td>
		</tr>
		{{/fields}}
	</tbody>
</table>