.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{
top: 7px
}

#editor { 
	position: absolute;
	top: 74px;
	width: 48%;
	/*right: 0;*/
	bottom: 200px;
	left: 0;
}
.target { 
	position: absolute;
	top: 74px;
	width: 48%;
	/*right: 0;*/
	bottom: 200px;
	right: 0;
	overflow: auto;
}
.target form{margin-right:50px;}
.result pre{
	position:absolute;
	bottom: -10px;
	left: 0px;
	right: 0px;
	height: 200px;
	overflow: auto;
}