<button data-id="{{id}}" form="{{form}}" class="btn btn-{{modifier}}{{^modifier}}default{{/modifier}}" type="{{type}}{{^type}}button{{/type}}">{{#icon}}<i class="fa fa-{{icon}}"></i> {{/icon}}{{{label}}}</button>
