{{^hideLabel}}
	{{#label}}<label for="{{guid}}" class="control-label col-md-{{#inline}}12{{/inline}}{{^inline}}4{{/inline}}">
  {{{label}}}:{{#required}}<span class="text-danger">*</span>{{/required}}
</label>{{/label}}
{{/hideLabel}}
