{{^hideLabel}}
	{{#label}}<label for="{{guid}}" {{#inline}}style="text-align:left"{{/inline}} class="control-label col-md-{{#inline}}12{{/inline}}{{^inline}}4{{/inline}}">
  {{{label}}}:{{#required}}<span class="text-danger">*</span>{{/required}}
</label>{{/label}}
{{/hideLabel}}
